body {
    max-width: 50%;
    margin: 0 auto;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card {
    background-color: white;
    border: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hero {
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3 {
    color: lightskyblue;
    text-align: center;
    

}

h1 {
    text-align: center;
    
}
.main {
    margin: auto 0;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 20px;
   
}

footer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(26, 53, 208);
    
    color:white;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.read {
    border-right: solid grey;
    margin: 0;
    padding: 15px;
    font-size: large;
}

.views {
    align-items: center;
    border-right: solid grey;
    margin: 0;
    padding: 20px;
    font-size: large;
}

.comments {
    align-items: center;
    font-size: large;
}