body {
    margin: 0;
    max-width: 100%;
    background-color: rgb(141, 139, 139);
}

img {
    width: 100%

}

.graybox{
    background-color: rgb(141, 139, 139);
    text-align: center;
    margin: 0 atuo;
    max-height: 50%;
    padding: 10px;
    
}

img.circle {
    width: 15%;
    padding: 0;
    margin: 0 20px;
    border: 5px solid darkgray;
    border-radius: 50%;
    display: inline;   
}