body {
    background-color: lightskyblue;
    text-align: center;
    max-width: 0, auto;
}

h1 {
    color: white; 
    font-style: bold;
}

h1:hover {
    color: black;
    
}

p {
    color:white;
    text-align: center;
}

blockquote {
    color: white;
    max-width: 0, auto;
    text-align: center;
   
}

h4 {
    color: black;
    width: 0, auto;
}
